#Sections,
box .index-section-title,
box image.index-section,
box #NotesListBox {
  transition-duration: 200ms;
}

#Sections.small {
  margin: 12px 0 12px 0;
}

#Sections:not(small) {
  margin: 24px 12px 24px 12px;
}

box.small .index-section-title {
  margin-left: 18px;
  margin-bottom: 6px;
  margin-top: 0px;
}

box:not(small) .index-section-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

box.small image.index-section {
  margin-bottom: 5px;
}

box.small #NotesListBox {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}

box.small #NotesListBox row {
  border-radius: 0px;
}

.editor {
  background-color: @view_bg_color;
}

.editor-textview {
  line-height: 1.4;
}

button.note-title-header label:hover {
  color: alpha(@theme_fg_color, 0.7);
}


button.note-title-header {
  background: none;
}


window .themeselector {
  margin: 9px;
}
window .themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}
window .themeselector checkbutton.follow:checked,
window .themeselector checkbutton.light:checked,
window .themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
window .themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
window .themeselector checkbutton.light {
  background-color: #fff;
}
window .themeselector checkbutton.dark {
  background-color: #202020;
}
window .themeselector checkbutton check {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
}

label.index-category-pill {
  font-size: .83333em;
  border-radius: 4px;
  margin: 0;
  padding: 1px 6px;
}

/* Some (hopefully temporary) handling of the keyboard focus ring. Using a bunch of hard
 * coded values which line up with Adwaita as of v1.4.
 * */
window .sidebar-pane listview row.focused {
    outline: 0 solid transparent;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: alpha(@accent_color, 0.5);
}

/* A temporary fix while using deprecated GtkEntryCompletion. Will potentially have issues outside
 * of Adwaita. Fixes issue with popup surrounds in dark mode.
 */
entry.category-selector popover contents {
  background-color: @theme_base_color;
}
